<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OurOnlyHome">

        <activity android:name=".Muelltrennung" android:exported="false" />
        <activity android:name=".Plastikverschwendung" android:exported="false" />
        <activity android:name=".Wasserverbrauch" android:exported="false" />
        <activity android:name=".FastFashion" android:exported="false" />
        <activity android:name=".Lebensmittelverschwendung" android:exported="false" />
        <activity android:name=".VerantwortungUnternehmen" android:exported="false" />

        <activity android:name=".Muelltrennung2" android:exported="false" />
        <activity android:name=".Plastikverschwendung2" android:exported="false" />
        <activity android:name=".Wasserverbrauch2" android:exported="false" />
        <activity android:name=".FastFashion2" android:exported="false" />
        <activity android:name=".Lebensmittelverschwendung2" android:exported="false" />
        <activity android:name=".VerantwortungUnternehmen2" android:exported="false" />

        <activity android:name=".Bildung" android:exported="false" />
        <activity android:name=".ScoreActivity" android:exported="false" />
        <activity android:name=".PlanetActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" />

        <activity
            android:name=".Umweltbewusstsein"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>